<div
  class="header d-flex flex-row justify-content-between align-items-center text-white m-3"
>
  <a routerLink="/">
    <img
      class="logo"
      src="assets/images/Drivora_en_light_logo.png"
      alt="logo"
    />
  </a>
  <span class="d-flex flex-row justify-content-between justify-content-evenly">
    <a class="m-3 on-hover" routerLink="/">Home </a>

    <a class="m-3 on-hover" routerLink="/">Vehicles </a>

    <a class="m-3 on-hover" routerLink="/">Contact Us </a>

    <a class="m-3 on-hover" routerLink="/">About </a>
  </span>

  <span>
    <button class="primary-button m-2 on-hover">Login</button>
    <button class="primary-button m-2 on-hover">Register</button>
  </span>
</div>
