<!-- ---------------------------- Header ---------------------------- -->
<div
  class="header d-flex flex-row justify-content-between align-items-center text-white p-2 mb-3"
>
  <div
    class="left-side d-flex flex-row justify-content-start align-items-center"
  >
    <a class="m-0 logo-link" routerLink="/">
      <img
        class="logo"
        src="assets/images/logo/Drivora_en_light_logo.png"
        alt="logo"
      />
    </a>
    <span
      class="d-flex flex-row justify-content-between justify-content-evenly"
    >
      <a class="hideOnMobile" routerLink="/">Home</a>
      <a class="hideOnMobile" routerLink="/cars">Vehicles</a>
      <a class="hideOnMobile" routerLink="/contact-us">Contact Us</a>
      <a class="hideOnMobile" routerLink="/about-us">About</a>
    </span>
  </div>
  <div class="right-side">
    <span>
      <button class="primary-button hideOnMobile"><span>Login</span></button>
      <button class="primary-button hideOnMobile"><span>Register</span></button>
      <i (click)="toggleSidebar(true)" class="bi bi-list m-0 h1 menu-btn"></i>
    </span>
  </div>
</div>

<!-- ---------------------------- Side Bar ---------------------------- -->
<div
  class="sidebar d-flex flex-column justify-content-between align-items-center text-white p-3"
>
  <span
    class="d-flex flex-column justify-content-between align-items-center w-100"
  >
    <i (click)="toggleSidebar(false)" class="w-100 text-start bi-x-lg"></i>
    <a routerLink="/">Home </a>
    <a routerLink="/cars">Vehicles </a>
    <a routerLink="/contact-us">Contact Us </a>
    <a routerLink="/about-us">About </a>
  </span>

  <span>
    <button class="primary-button"><span>Login</span></button>
    <button class="primary-button"><span>Register</span></button>
  </span>
</div>
