@use "../../../../../styles/variables.scss" as *;

.cars-header {
  width: 100%;
  height: 50vh;
  margin-bottom: 100px;
  box-shadow: 0px -4px 8px $secondary;
  margin-top: -20px;
}

.cars-header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 60%;
}

.search-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
  gap: 20px;
  margin-top: -20px;
}

.search-input-container {
  display: flex;
  flex-direction: row;
  border: #ffcb68 3px solid;
  border-radius: 20px;
  padding: 7px 12px;
  font-size: 19px;
  background: $primary-black;
}

.search-input {
  border: none;
  background: none;
  color: white;
}

.search-input-container:focus-within,
.filter-by-container:focus-within {
  //:focus-within applies styles to a parent element if any of its children are focused.
  box-shadow: 0 1px 15px #ffcb68;
}

.search-input:focus {
  outline: none; // to remove input border on focus
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.filter-by-container {
  display: flex;
  flex-direction: row;
  border: #ffcb68 3px solid;
  border-radius: 20px;
  padding: 7px 12px;
  font-size: 19px;
  background: $primary-black;
}

.brands {
  background: none;
  border: none;
}

.brands:focus {
  outline: none; // to remove input border on focus
}


/* -------------------------------- Cars Cards Section -------------------------------- */

.cars-cards-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.car-card {
  width: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.car-card-image {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.car-info-card {
  position: relative;
  bottom: 60px;
  width: 95%;
  align-self: center;
  background-color: $primary-light;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.car-model-name {
  font-size: 23px;
  padding-left: 8px;
  color: $secondary;
}

.car-properties {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.car-property i {
  margin-left: 5px;
  margin-right: 5px;
  color: $secondary;
}

.car-property span,
.car-price-container .payment-type {
  font-size: 14px;
  color: #888888;
}

.car-price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car-price-container .price-value {
  font-size: 22px;
  color: $secondary;
}

.car-info-card button {
  border-radius: 25px;
  margin: 2px;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: bold;
  border: none;
}
