<h2>Get in Touch</h2>
<p class="subtitle">
  Whether you need help or just want more info, our team is here to guide you.
</p>

<div class="contact-cards">
  <div class="contact-card">
    <div class="contact-card">
    <h3 class="card-title">Need Help?</h3>
    <p class="card-subtitle">
      Our customer support team is available 24/7 to assist you with car sales or rentals.
    </p>
    <button class="contact-btn">Contact Support</button>
  </div>
  </div>
  <div class="contact-card">
    <div class="contact-card">
      <!-- 2- Ask Us Anything / Have a Question?  -->
      <h3 class="card-title"></h3>
      <p class="card-subtitle"></p>
      <button class="contact-btn"></button>
    </div>
    <div class="contact-card">
      <div class="contact-card">
        <!-- 1- Become a Seller -->
        <h3 class="card-title"></h3>
        <p class="card-subtitle"></p>
        <button class="contact-btn"></button>
      </div>
    </div>
  </div>
</div>
