@use "../../../../styles/variables.scss" as *;

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 400px;
  margin: 0 20%;
}

.title-container-content {
  width: 70%;
}

.subtitle {
  width: 80%;
}

.title-img {
  width: 50%;
  border-radius: 70% 30% 20% 70% / 70% 70% 30% 40%;
}

.contact-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 3% 10%;
  gap: 50px;
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border: $primary-light solid 2px;
  border-radius: 20px;
  padding: 50px;
}

.card-title {
  margin-bottom: 30px;
}

.card-subtitle {
  margin-bottom: 20px;
}
