@use "../../../../styles/variables.scss" as *;

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 400px;
  margin: 0 20%;
}

.title-container-content {
  width: 70%;
}

.subtitle {
  width: 80%;
}

.title-img {
  width: 50%;
  border-radius: 70% 30% 20% 70% / 70% 70% 30% 40%;
}
