$primary-black: #0d0d0d; //black
$primary-white: #e5e5e5; //white
$primary-light: #343434; //gray
$secondary: #ffcb68; //yellow
$secondary-dark: #8c7853; //beige

:root {
  //--CSS-variable: #{$SCSS-variable}
  --secondary-dark: #{$secondary-dark};
  --secondary: #{$secondary};
}
