<!-- <a class="click-btn btn-style904" data-hover="Click me!" href="#"> </a> -->
<div class="title-container">
  <h1 class="title" [style.color]="'var(--secondary)'">
    Where Your Ultimate Dream Car Awaits!
  </h1>
  <a
    class="dashed-button-container d-flex flex-row align-items-center link-underline link-underline-opacity-0"
    href="/"
  >
    <button class="dashed-button me-3">
      <i [style.color]="'#fff'" class="bi bi-arrow-right"></i>
    </button>
    <span [style.color]="'#fff'" [style.font-size]="'20px'">Explore More</span>
  </a>
</div>
<div class="container">
  <div class="slide">
    <div class="item">
      <img class="item" src="/assets/images/home/home-slider/1.jpg" alt="" />
      <div class="content">
        <div class="name">Drive Into Adventure</div>
        <div class="des">
          Explore scenic routes and city streets with our wide selection of
          reliable cars. Freedom starts here
        </div>
      </div>
    </div>
    <div class="item">
      <img class="item" src="/assets/images/home/home-slider/2.jpg" alt="" />
      <div class="content">
        <div class="name text-black">Your Journey Begins Here</div>
        <div class="des text-black">
          Simple booking, seamless service. Rent or own your next car with
          confidence.
        </div>
      </div>
    </div>
    <div class="item">
      <img class="item" src="/assets/images/home/home-slider/3.jpg" alt="" />
      <div class="content">
        <div class="name">Smart, Comfortable, Ready</div>
        <div class="des">
          Modern interiors, real-time navigation, and comfort you can
          feel—experience the drive your way.
        </div>
      </div>
    </div>
    <div class="item">
      <img class="item" src="/assets/images/home/home-slider/4.jpg" alt="" />
      <div class="content">
        <div class="name">Where Luxury Meets Power</div>
        <div class="des">
          Choose elegance and performance. Discover premium models that turn
          heads.
        </div>
      </div>
    </div>
    <div class="item">
      <img class="item" src="/assets/images/home/home-slider/5.jpg" alt="" />
      <div class="content">
        <div class="name">Made for Every Moment</div>
        <div class="des">
          From family trips to weekend getaways, our vehicles are built for
          life's best memories.
        </div>
      </div>
    </div>
  </div>

  <div class="button">
    <button class="primary-button prev border-0">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <button class="primary-button next border-0">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
<div class="our-cars">
  <h1 class="text-center m-5" [style.color]="'var(--secondary)'">Our Cars</h1>
  <div class="d-flex flex-column bg-white mt-5 mb-5">
    <div class="cars-types-slider d-flex flex-row justify-content-between">
      <img
        class="logo"
        src="/assets/images/home/car-brands/audi_logo.png"
        alt=""
      />
      <img
        class="logo"
        src="/assets/images/home/car-brands/bmw_logo.png"
        alt=""
      />
      <img
        class="logo"
        src="/assets/images/home/car-brands/ford_logo.png"
        alt=""
      />
      <img
        class="logo"
        src="/assets/images/home/car-brands/honda_logo.png"
        alt=""
      />
      <img
        class="logo"
        src="/assets/images/home/car-brands/hyundai_logo.png"
        alt=""
      />
      <img
        class="logo"
        src="/assets/images/home/car-brands/kia_logo.png"
        alt=""
      />
      <img
        class="logo"
        src="/assets/images/home/car-brands/mercedes_benz_logo.png"
        alt=""
      />
      <img
        class="logo"
        src="/assets/images/home/car-brands/nissan_logo.png"
        alt=""
      />
      <img
        class="logo"
        src="/assets/images/home/car-brands/subaru_logo.png"
        alt=""
      />
    </div>
    <div class="car-type-slide">
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car1.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car2.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car3.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car1.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
    </div>
    <div class="car-type-slide">
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car2.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car3.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car1.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car2.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
    </div>
    <div class="car-type-slide">
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car3.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car1.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car2.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car3.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
    </div>
    <div class="car-type-slide">
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car1.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car1.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car1.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
      <div class="car-slide">
        <img
          class="car-slide-img"
          src="/assets/images/home/cars-types-slider/car1.png"
          alt=""
        />
        <h3>car type</h3>
      </div>
    </div>
  </div>
</div>