<!-- <a class="click-btn btn-style904" data-hover="Click me!" href="#"> </a> -->
<div class="title-container">
  <h1 class="title" [style.color]="'var(--secondary)'">
    Where Your Ultimate Dream Car Awaits!
  </h1>
  <a
    class="dashed-button-container d-flex flex-row align-items-center link-underline link-underline-opacity-0"
    href="/"
  >
    <button class="dashed-button me-3">
      <i [style.color]="'#fff'" class="bi bi-arrow-right"></i>
    </button>
    <span [style.color]="'#fff'" [style.font-size]="'20px'">Explore More</span>
  </a>
</div>
<div class="container">
  <div class="slide">
    <div class="item">
      <img class="item" src="/assets/images/home/home-slider/1.jpg" alt="" />
      <div class="content">
        <div class="name">Drive Into Adventure</div>
        <div class="des">
          Explore scenic routes and city streets with our wide selection of
          reliable cars. Freedom starts here
        </div>
      </div>
    </div>
    <div class="item">
      <img class="item" src="/assets/images/home/home-slider/2.jpg" alt="" />
      <div class="content">
        <div class="name text-black">Your Journey Begins Here</div>
        <div class="des text-black">
          Simple booking, seamless service. Rent or own your next car with
          confidence.
        </div>
      </div>
    </div>
    <div class="item">
      <img class="item" src="/assets/images/home/home-slider/3.jpg" alt="" />
      <div class="content">
        <div class="name">Smart, Comfortable, Ready</div>
        <div class="des">
          Modern interiors, real-time navigation, and comfort you can
          feel—experience the drive your way.
        </div>
      </div>
    </div>
    <div class="item">
      <img class="item" src="/assets/images/home/home-slider/4.jpg" alt="" />
      <div class="content">
        <div class="name">Where Luxury Meets Power</div>
        <div class="des">
          Choose elegance and performance. Discover premium models that turn
          heads.
        </div>
      </div>
    </div>
    <div class="item">
      <img class="item" src="/assets/images/home/home-slider/5.jpg" alt="" />
      <div class="content">
        <div class="name">Made for Every Moment</div>
        <div class="des">
          From family trips to weekend getaways, our vehicles are built for
          life's best memories.
        </div>
      </div>
    </div>
  </div>

  <div class="button">
    <button class="primary-button prev border-0">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <button class="primary-button next border-0">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
<div class="our-cars">
  <h1 class="text-center m-5" [style.color]="'var(--secondary)'">Our Cars</h1>
  <div class="d-flex flex-column bg-white mt-5 mb-5">
    <swiper-container slides-per-view="7" loop="true" class="car-brands">
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/audi_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/bmw_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/ford_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/honda_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/hyundai_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/kia_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/mercedes_benz_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/nissan_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/subaru_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/tesla_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/toyota_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/volkswagen_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-brand"
          src="/assets/images/home/car-brands/volvo_logo.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- Audi ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="audi car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/audi/audi1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/audi/audi2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/audi/audi3.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/audi/audi4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- BMW ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="bmw car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/bmw/bmw1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/bmw/bmw2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/bmw/bmw3.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/bmw/bmw4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- Ford ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="ford car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/ford/ford1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/ford/ford2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/ford/ford3.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/ford/ford4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- Honda ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="honda car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/honda/honda1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/honda/honda2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/honda/honda3.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/honda/honda4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- Hyundai ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="hyundai car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/hyundai/hyundai1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/hyundai/hyundai2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/hyundai/hyundai3.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/hyundai/hyundai4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- Kia ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="kia car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/kia/kia1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/kia/kia2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/kia/kia3.avif"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/kia/kia4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- Mercedes ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="mercedes car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/mercedes/mercedes1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/mercedes/mercedes2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/mercedes/mercedes3.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/mercedes/mercedes4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- Nissan ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="nissan car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/nissan/nissan1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/nissan/nissan2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/nissan/nissan3.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/nissan/nissan4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- Subaru ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="subaru car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/subaru/subaru1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/subaru/subaru2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/subaru/subaru3.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/subaru/subaru4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- Tesla ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="tesla car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/tesla/tesla1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/tesla/tesla2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/tesla/tesla3.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/tesla/tesla4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- Toyota ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="toyota car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/toyota/toyota1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/toyota/toyota2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/toyota/toyota3.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/toyota/toyota4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- Volkswagen ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="volkswagen car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/volkswagen/volkswagen1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/volkswagen/volkswagen2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/volkswagen/volkswagen3.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/volkswagen/volkswagen4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
<!-- ---------------------------------------- Volvo ---------------------------------------- -->
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="3"
      loop="true"
      navigation="true"
      speed="800"
      class="volvo car-types"
    >
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/volvo/volvo1.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/volvo/volvo2.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/volvo/volvo3.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
      <swiper-slide lazy="true">
        <img
          class="car-type"
          src="/assets/images/home/cars-types/volvo/volvo4.png"
          alt=""
          loading="lazy"
        />
      </swiper-slide>
    </swiper-container>
    
  </div>
</div>