@use "../../../../styles/variables.scss" as *;

.container {
  position: absolute;
  top: 510px;
  left: 50%;
  transform: translate(-24%, -50%);
  width: 1500px;
  height: 800px;
  box-shadow: 20px 50px 10px #dbdbdb;
}

.container .slide .item {
  width: 350px;
  height: 200px;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 50%;
}
.slide .item:nth-child(4) {
  left: calc(50% + 220px);
}
.slide .item:nth-child(5) {
  left: calc(50% + 440px);
}

/* n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}

.slide .item:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.button button:hover {
  background: $primary-light;
  color: black;
}

.btn-arrow-slide-cont {
  position: relative;
  padding: 10px 40px;
  color: black;
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.btn-arrow-slide-circle {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-arrow-slide-icon {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid $secondary;
}

.btn-arrow-slide-text {
  margin-left: 35px;
  transition: margin 0.3s ease;
}

.btn-arrow-slide-cont:hover .btn-arrow-slide-text {
  margin-left: 45px;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.btn:hover .btn-slide-show-text {
  margin-left: 65px;
}
