@use "../../../../styles/variables.scss" as *;

h5 {
  color: $secondary;
  margin-bottom: 24px;
  font-weight: bold;
}

span,
a {
  margin: 0;
  color: #888888;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: large;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px;
  background-color: #1a1a1a;
  gap: 10%;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
  min-width: 20%;
  margin-bottom: 20px;
}

.contact-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 10px;
}
.contact-row i {
  color: $secondary;
  font-size: 24px;
}

.social-media {
  justify-content: start;
}

.social-media i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  border-radius: 100%;
  color: black;
  width: 35px;
  height: 35px;
  font-size: 20px;
  font-weight: 600; // to make the icons look more bolder
  margin: 0 5px;
}

.social-media i:hover {
  width: 39px;
  height: 39px;
  font-size: 22px;
  cursor: pointer;
}

@media (max-width: 650px) {
  footer {
    flex-direction: column;
    align-items: start;
    padding-left: 100px;
    gap: 20px;

    .footer-col {
      width: 200px;
    }
  }
}
