<footer>
  <div class="footer-col">
    <h5>Get In Touch</h5>
    <div class="contact-row">
      <i class="fa-solid fa-phone-volume"></i>
      <span>+962 79 123 4567</span>
    </div>
    <div class="contact-row">
      <i class="bi bi-envelope"></i>
      <span>drivora&#64;gmail.com</span>
    </div>
    <div class="contact-row social-media">
      <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"> </i></a>
      <a href="https://x.com"><i class="bi bi-twitter-x"></i> </a>
      <a href="https://www.instagram.com"><i class="bi bi-instagram"></i> </a>
    </div>
  </div>
  <div class="footer-col">
    <h5>Quick Links</h5>
    <a href="">Home</a>
    <a href="">Browse Cars</a>
    <a href="">Dealers</a>
    <a href="">Contact Us</a>
    <a href="">About Us</a>
  </div>
  <div class="footer-col">
    <h5>Support</h5>
    <a href="">FAQs</a>
    <a href="">Terms & Conditions</a>
    <a href="">Privacy Policy</a>
    <a href="">Cancellation Policy</a>
  </div>
</footer>
