<div class="car-details-page">
  <div class="left-column">
    <div class="view-container">
      <div class="main-view"></div>
      <div class="sub-view"></div>
    </div>
    <div class="overview"></div>
    <div class="extra-features"></div>
    <div class="description"></div>
    <div class="features"></div>
    <!-- <div class="deal-guage"></div> -->
    <div class="similar-cars"></div>
  </div>
  <div class="right-column">
    <div class="purchase-card"></div>
    <div class="car-owner-card"></div>
    <div class="contact-company"></div>
    <!-- <div class="compare-with-other-cars"></div> -->
    <div class="disclamer"></div>
  </div>
</div>
