@use "../../../../styles/variables.scss" as *;

.car-details-page {
  display: flex;
  flex-direction: row;
  margin: 70px;
  gap: 4%;
  justify-content: center;
}

.left-column {
  //   border: $primary-light 2px solid;
  //   border-radius: 30px;
  padding: 20px;
  width: 65%;

  .view-container > * {
    width: 100%;
  }

  .view-container img {
    border-radius: 30px;
  }

  .image-slide {
    max-width: 210px;
    margin: 20px 10px 0px;
  }

  .section-title {
    margin-top: 40px;
    color: $secondary;
  }

  hr {
    border: 1px solid $secondary;
    margin-bottom: 20px;
  }

  .highlights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 20px;
    gap: 10px;

    .highlight-icon {
      width: 50px;
      height: 50px;
      align-self: center;
    }
  }

  .overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 20px;
    gap: 10px;
  }

  .car-properties-card {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));

    div {
      padding: 8px;
    }

    .properties-icon {
      width: 32px;
      height: 32px;
      margin-right: 7px;
    }
  }

  .car-properties-card:nth-child(4n + 1),
  .car-properties-card:nth-child(4n + 2) {
    background-color: $primary-light;
    border-radius: 10px;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 20px;
    gap: 10px;
  }

  .car-feature-card {
    display: grid;
    gap: 1rem;
    background-color: $primary-light;
    border-radius: 10px;

    div {
      padding: 8px;
    }

    .feature-icon {
      width: 32px;
      height: 32px;
      margin-right: 7px;
    }
  }
}

.right-column {
  padding: 20px;
  border: $primary-light 2px solid;
  border-radius: 30px;
  width: 25%;

  .pruchase-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .car-make-model {
    font-size: 30px;
  }

  .car-year {
    font-size: 20px;
  }

  .pruchase {
    width: calc(100% - 20px);
    margin: 20px 10px;
    font-size: 20px;
  }
}
