<div class="car-details-page">
  <div class="left-column">
    <div class="view-container">
      <img class="main-img" [src]="(car?.images)![0]" alt="" />
      <div class="sub-view">
        @for (img of car?.images; track $index) {
        <img class="image-slide" [src]="img" alt="" />
        }
      </div>
    </div>
    <h3 class="section-title">Highlights</h3>
    <hr />
    <div class="highlights">
      @for (prop of carHighlights; track $index) {
      <div class="car-highlight-card d-flex flex-row justify-content-center">
        <div
          class="d-flex flex-column justify-content-center align-content-center text-center"
        >
          <img class="highlight-icon" [src]="prop.icon" alt="{{ prop.name }}" />
          <div class="highlight-name">{{ prop.name }}</div>
          @if(prop.value != null){
          <div class="highlight-value">{{ prop.value }}</div>
          }
        </div>
      </div>
      }
    </div>
    <h3 class="section-title">OverView</h3>
    <hr />
    <div class="overview">
      @for (prop of carProperties; track $index) {
      <div class="car-properties-card">
        <div class="property-name">
          <img
            class="properties-icon"
            [src]="prop.icon"
            alt="{{ prop.name }}"
          />
          <strong>{{ prop.name }}</strong>
        </div>
        <div class="property-value">{{ prop.value }}</div>
      </div>
      }
    </div>
    <h3 class="section-title">Description</h3>
    <hr />
    <div class="description">{{ car?.description }}</div>
    <h3 class="section-title">Features</h3>
    <hr />
    <div class="features">
      @for (feature of carFeatures; track $index) {
      <div class="car-feature-card">
        <div class="feature-name">
          <img
            class="feature-icon"
            [src]="feature.icon"
            alt="{{ feature.name }}"
          />
          <strong>{{ feature.name }}</strong>
        </div>
      </div>
      }
    </div>
    <!-- <div class="deal-guage"></div> -->
    <div class="similar-cars">
      <!-- make it as a slider -->
      <!-- other (make) cars / other cars of same year / other cars same / suggested for you -->
      <!-- @for (item of items; track $index) { -->
      <!-- } -->
    </div>
  </div>
  <div class="right-column">
    <div class="purchase-card">
      <div class="purchase-header">
        <div class="purchase-title">
          <div class="car-make-model">{{ car?.make }} {{ car?.model }}</div>
          <div class="car-year">{{ car?.year }}</div>
        </div>
        <div class="availability ms-3 mt-2">
          @if(car?.isAvailable){
          <span class="available">
            <i class="fa-solid fa-circle light-green-text"></i> Available
          </span>
          } @else{
          <span class="unavailable"
            ><i class="fa-solid fa-circle light-red-text"></i> Unavailable</span
          >
          }
        </div>

        <button class="purchase primary-button">Purchase</button>
      </div>
    </div>
    <div class="car-owner-card d-flex flex-column">
      <div class="d-flex justify-content-start">
        <img class="owner-img" src="/assets/images/temp-profile.jpg" />
        <div class="owner-details">
          <div class="d-flex justify-content-between">
            <div class="owner-name">Sam Linch</div>
            <div class="rating">
              <i class="bi bi-star-fill"></i>
              4.3
            </div>
          </div>
          <button class="view-owner-profile">
            View Profile
            <i class="bi bi-caret-right-fill"></i>
          </button>
        </div>
      </div>
      <button class="contact-owner primary-button w-100 align-self-center mt-3">
        <i class="bi bi-telephone-fill"></i>
        Contact Sam
      </button>
    </div>
    <div class="contact-company">
      <div class="card-title"></div>
      <button class="contact-company"></button>
    </div>
    <!-- <div class="compare-with-other-cars"></div> -->
    <div class="disclamer"></div>
  </div>
</div>
