@use "../src/styles/variables.scss" as *;
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  margin: 0;
  padding: 0;
  background-color: $primary-black;
  font-family: cursive;
  color: $primary-white;
}

.primary-button {
  background-color: $secondary;
  border-radius: 15px;
  padding: 4px 12px;
}

.dashed-button {
  position: relative;
  height: auto;
  width: auto;
  padding: 16px 20px;
  color: $secondary;
  border-radius: 100%;
  border: 0;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px dashed $secondary;
  }

  &:hover::before,
  .dashed-button-container:hover {
    animation: rotate 20s linear infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dashed-button-container {
  &:hover .dashed-button::before {
    animation: rotate 20s linear infinite;
  }
}

.light-green-text {
  color: $light-green;
}

.light-red-text {
  color: $light-red;
}
